// Place all the styles related to the main_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper > div{
  border: 1px black solid;
}

.wrapper > div:nth-child(odd){
}

.wrapper{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
}
