.preloader.hide{'data-target' => 'movie.spinner'}
  .center-align
    .preloader-wrapper.big.active
      .spinner-layer.spinner-blue-only
        .circle-clipper.left
          .circle
        .gap-patch
          .circle
        .circle-clipper.right
          .circle

.output{ 'data-target' => 'movie.output' }
  %table.striped
    %thead
      %tr
        %th
        %th Название
        %th Жанр
    %tbody
      - result.each do |movie|
        %tr
          %td
            = image_tag(movie[:cover].gsub('360', '90')) if movie[:cover]
          %td
            %a{href: "/movie/#{movie[:kp_id]}"}
              "#{movie[:name]} (#{movie[:year]})"
          %td $0.87
